- var HOME_PAGE = 'home'
- var CURRENT_PAGE

mixin link(name)
  - var isActive = (name == CURRENT_PAGE) ? 'active' : ''
  - var url = (name == HOME_PAGE) ? '/' : '/'+name
  a(href=url, class=isActive+' '+name+'-link nav__link')
    block

mixin nav(name)
  - CURRENT_PAGE = name
  a.hamburger(href="#")
  nav.nav.hide
    //- p= 'CURRENT_PAGE: ' + CURRENT_PAGE
    ul
      li: +link('home') Home
      li: +link('about') About
      li: +link('alumni') Alumni
      li: +link('schedule') Schedule
      li: +link('apply') Apply
      li: +link('partners') Sponsors and Partners
