mixin page(name, title)
  doctype html
  html(lang='en')
    head

      if title
        title= title + ' - #PassTheTalent'
      else
        title #PassTheTalent

      include _meta

      //--Page styles
      link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/styles/main.css')

    body
      include _nav
      +nav(name)
      block
      .footer.content
        img.footer__logo(src="/images/ptt_logo.png")
        .footer__copyright © Copyright 2015. All Rights Reserved.<br>We are not affiliated with Periscope.
      // build:js /scripts/main.min.js
      script(src='/scripts/main.js')
      script(src='/scripts/main-helper.js')
      // endbuild
      //- include _analytics
