include _/_page

+page('schedule', 'Schedule')
  .hero
    h1
      .hero__title Schedule
  .content
    h2.heading 6:30pm PST / 9:30pm EST
    hr
    h2.heading
      | Sunday
      .subheading Dance / Magic
    //- ul
    //-   li Dancers
    //-   li Choreographers
    //-   li Magicians
    //-   li Mimes
    //-   li Illusionists
    h2.heading
      | Monday
      .subheading Literature / Theater
    ul
      li 
    //- h2.heading
    //-   | Tuesday
      .subheading 
    h2.heading
      | Wednesday
      .subheading Vocal Arts
    h2.heading
      | Thursday
      .subheading Visual / Fine Arts
    h2.heading
      | Friday
      .subheading Comedy
